@font-face {
    font-family: 'Water Brush';
    src: url('../fonts/WaterBrush-Regular.ttf') format('truetype');
}

.accueil {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    text-align: center;
    align-items: left;
    font-size: 4em;
    font-family: 'Water Brush';
}

.carousel-control-prev-icon
{
    background-color: gray;
}

.carousel-control-next-icon
{
    background-color: gray;
}

.slide {
    height:inherit;
    justify-content: center ;
}

.col {
    height: 70vh;
}

.f {
    height: fit-content;
}

.custom-img {
    max-width: 100%; /* Ajustez cette valeur selon vos besoins */
}

.espacement {
    margin-right: 230px;
}