@font-face {
    font-family: 'Water Brush';
    src: url('../fonts/WaterBrush-Regular.ttf') format('truetype');
}

.accueil {
    height: 100%;
    text-align: center;
    font-size: 4em;
    font-family: 'Water Brush';
}

.imgcarr {
    background-size: cover;
    background-position: center;
}

.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.379);
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.379);
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

.slide {
    justify-content: center;
}

.textAccueil{
    height : 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 7vw;
    padding-left: 100px;
    padding-right: 100px;
}