.compteur{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	width: 100%;
}

.inc {
	height:35px;
	background-color: #006DAA;
	color: #FFFFFF;
	font-size: 20px;
	justify-content: center;
	display: flex;
	border-radius: 12px;
	border-color: transparent;
}

.inc:focus{
	background-color: #006DAA !important;
	color: #FFFFFF !important;
	transition: background-color 0.3s ease;
}

.inc:hover,
.inc:active{
	background-color: #00476E !important;
	color: #FFFFFF ;
}
.d{
	background-image: url('../img/diminue.svg');
	background-position: center;
	background-size: cover;
}
.a{
	background-image: url('../img/augmente.svg');
	background-position: center;
	background-size: cover;
}
.btnplus{
	justify-self: start;
}
.btnmoins{
	justify-self: end;
}

.valeur{
	width: 100%;
	height:35px;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 20px;
}