@font-face {
	font-family: "Popins";
	src: url("../fonts/Poppins-Medium.ttf");
}

.body {
	background-color: #FFFFFF;
}

.titre {
	width: 600%;
	margin-top: 20px;
	padding: 20px;

	color: #005C8F;
	background-color: #F2EEEB;

	font-size: 30px;
	font-weight: bolder;
}